<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Contest Details</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" sizes="any">
  <link rel="icon" href="{{ url_for('static', path='/icon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ url_for('static', path='/icon.png') }}">

  <link rel="manifest" href="{{ url_for('static', path='/site.webmanifest') }}">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <h1>Contest {{ id }}</h1>
</body>

</html>